header {
  background-color: var(--principal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

main{
  background-color: var(--detalhes);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fontTexto);
}


.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
