.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--secundaria);
    padding: 1.5em 0 1em 0;
}

.contact_content{
    width: 90%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socialLinks{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}