@media(min-width: 320px){
    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .menuContent{
        width: 90%;
        max-width: 1080px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .menu{
        /* width: 100%; */
        /* min-width: 300px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .menu li{
        display: none;
    }
    
    .menu a{
        color: var(--detalhes);
    }
    
    .menu img{
        width: 45px;
    }
}

@media(min-width: 720px){

    .menu{
        width: 100%;
    }

    .menu img{
        display: none;
    }

    .menu li{
        display: initial;
        list-style: none;
        font-family: var(--fontTexto);
        font-size: .7em;
        color: var(--detalhes);
    }
    
    .menu a{
        color: var(--detalhes);
    }
}