section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuContent{
    width: 90%;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu{
    min-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu li{
    list-style: none;
    font-family: var(--fontTexto);
    font-size: .7em;
    color: var(--detalhes);
}

.menu a{
    color: var(--detalhes);
}