.myProjectsItens_content {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myProjectsItens_content p {
    text-align: center;
    color: var(--detalhes);
    line-height: 1.2;
    font-size: 0.9em;
    font-weight: 200;
    padding: 1em 5em;
}

/* .myProjectItens_content img{
    width: 300px;
    border-radius: 10px;
} */
